colorama==0.4.4
distro==1.4.0
fs==2.4.15
GitPython==3.1.20
google-api-python-client==2.51.0
google-auth-oauthlib==0.5.2
gsheets==0.6.1
mypy==0.910
parameterized==0.8.1
pre-commit==2.15.0
pydrive==1.3.1
PyPDF2==2.3.1
reportlab==3.6.10
types-PyYAML==6.0.8
types-requests==2.27.31
types-setuptools==57.0.2
