[
    Coordinate(
        room: 0,
        row: 0,
        column: 0,
    ),
    Coordinate(
        room: 0,
        row: 0,
        column: 1,
    ),
    Coordinate(
        room: 0,
        row: 1,
        column: 1,
    ),
]
